<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net461" />
  <package id="Microsoft.Office.Excel" version="14.0.4760.1000" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.18" targetFramework="net461" />
  <package id="MySqlBackup.NET" version="2.3.1" targetFramework="net461" />
  <package id="NetOffice.Core" version="1.7.4.4" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net461" />
</packages>